form_main {
    width: 100%;
}
.form_main h3 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #ADD8E6; /* light blue border */
    padding-bottom: 9px;
    position: relative;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc; /* gray border */
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 300px;
}
.txt2[type="submit"] {
    background: #000000 none repeat scroll 0 0; /* black background */
    border: 1px solid #000000; /* black border */
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}